@keyframes second_hand{
    
    0%{
    transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
     
    }
    
}
@keyframes minute_hand{
    
    0%{
    transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
     
    }
    
}
@keyframes hour_hand{
    
    0%{
    transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
     
    }
    
}